<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width">
  <title>Travel Planner</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div class="holder headline">
      TRAVEL PLANNER
    </div>
    <div id="newTrip-title">ADD NEW TRIP</div>
    <div id="newTrip">
      <div class="holder date">
        <label for="date">Trip Date</label>
        <input type="date" id="date">
      </div>

      <div class="holder country">
        <label for="country">Country</label>
        <select type="text" id="country">
          <option value="">select country</option>
        </select>
      </div>

      <div class="holder city">
        <label for="city">City</label>
        <input type="text" id="city" placeholder="city">
      </div>

      <div class="holder state">
        <label for="state">State</label>
        <select type="text" id="state">
          <option value="">select state</option>
        </select>
      </div>

      <button id="generate" type="submit"> Add </button>
    </div>
    
    <div id="planned-title">PLANNED TRIPS</div>

    <div id="planned-trips">
      <div class="trip">
        <div class="trip-destination">Savannah, GA</div>
        <div class="trip-date">2021-02-26</div>
        <div class="pc">picture</div>
        <div class="trip-weather">
          <div class="trip-high weather-info">
            <div class="weather-data">60*F</div>
            <div class="weather-label">High</div>
          </div>
          <div class="trip-low weather-info">
            <div class="weather-data">40*F</div>
            <div class="weather-label">Low</div>
          </div>
          <div class="trip-precip weather-info">
            <div class="weather-data">50%</div>
            <div class="weather-label">Precip</div>
          </div>
        </div>
        <div class="country-facts">
          country
          language
          currency
          flag
        </div>
      </div>
    </div>
  </div>
</body>

</html>