@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;600;700&display=swap');

body {
    background-color: #FFD2D2;
}

#app {
    display: grid;
    grid-template-rows: auto auto auto auto auto ;
    grid-template-columns: repeat(6 1fr);
    grid-template-areas: 
        "hd hd hd hd hd hd"
        "ntt ntt ntt ntt ntt ntt"
        "nt nt nt nt nt nt"
        "pnt pnt pnt pnt pnt pnt"
        "pn pn pn pn pn pn"
    ;
    padding: 0px 5px;
    color: #333;
    font-size: 16px;
}

.headline {
    grid-area: hd;
    font-size: 36px;
    padding: 20px 0;
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
    border-bottom: 2px solid #333;
}

#newTrip-title {
    grid-area: ntt;
    padding: 2em 0em .5em 0em;
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

#newTrip {
    grid-area: nt;
}

#planned-title {
    grid-area: pnt;
    padding: 2em 0em .5em 0em;
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

#planned-trips {
    grid-area: pn;
}







/*  Basic Styling To Override Default For Basic HTML Elements */

input, select {
    border: none;
}

h1 {
    font-size: 36px;
}

textarea {
    border: none;
}

/* Reset style for HTML element on active to have no border*/
/* input:focus,
select:focus,
textarea:focus, */
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #333;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #333;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #333;
}